extends ./layout

block content
  h1 Подтверждение email
  p Для завершения регистрации перейдите, пожалуйста, по ссылке
  p
    a(href=link) Подтвердить регистрацию

  footer
    p С уважением, Артурка